[program:flask-web-app] 
command=/bin/bash -c 'source /var/www/flask-web-app/web-app-env/bin/activate; gunicorn -w 3 --bind unix:/var/www/flask-web-app/ipc.sock wsgi:app'
directory=/var/www/flask-web-app
user=flaskapp
group=flaskapp
autostart=true 
autorestart=true 
stdout_logfile=/var/www/flask-web-app/flask-web-app.out.log 
stderr_logfile=/var/www/flask-web-app/flask-web-app.err.log